<!-- Start Header/Navigation -->


<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="/">PHT<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Trang Chủ</a>
                </li>
                <li><a class="nav-link" href="/shop">Cửa Hàng</a></li>
                <li class="active"><a class="nav-link" href="/about">Về chúng tôi</a></li>
                <li><a class="nav-link" href="/services">Đơn hàng đã đặt</a></li>

                <li><a class="nav-link" href="/blog">Bài viết</a></li>
                <li><a class="nav-link" href="/contact">Liên hệ với chúng tôi</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">{{username}}<img src="/client/images/user.svg"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/login">Đăng nhập <i class="fa fa-sign-in"></i></a></li>
                        <div class="dropdown-divider"></div>

                        <li><a class="dropdown-item" href="/register">Đăng ký</a></li>
                        <div class="dropdown-divider"></div>

                        <li><a class="dropdown-item" href="/logout">Đăng xuất <i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </li>
                {{!-- <li><a class="nav-link" href="/login">{{username}}<img src="/client/images/user.svg"></a></li>
                --}}
                <li><a class="nav-link" href="/cart"><img src="/client/images/cart.svg"></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">

        <!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Về chúng tôi</h1>
                            <p class="mb-4">chúng tôi là đội ngũ phát triển phần mềm và xây dựng nên các phần mềm xịn
                                xò.</p>
                            <p><a href="/" class="btn btn-secondary me-2">Dến cửa hàng</a><a href="#"
                                    class="btn btn-white-outline">Xem thêm</a></p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img-wrap">
                            <img src="/client/images/home.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Section -->



        <!-- Start Why Choose Us Section -->
        <div class="why-choose-section">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <h2 class="section-title">Tại sao chọn chúng tôi?</h2>
                        <p>Chúng tôi không chỉ cung cấp sản phẩm hoặc dịch vụ, mà còn mang đến trải nghiệm đặc biệt và
                            đội ngũ chăm sóc khách hàng xuất sắc. Hãy khám phá những lý do mà hàng nghìn khách hàng đã
                            lựa chọn chúng tôi:

                            <strong>1. Sự Đa Dạng và Chất Lượng:</strong> Sản phẩm của chúng tôi không chỉ đa dạng mà
                            còn được chọn lọc kỹ lưỡng để đảm bảo chất lượng tốt nhất. Từ lựa chọn đa dạng của chúng
                            tôi, bạn sẽ luôn tìm thấy điều gì đó phù hợp với mong muốn và phong cách của bạn.

                            <strong>2. Dịch Vụ Chăm Sóc Khách Hàng Tận Tâm:</strong> Đội ngũ chăm sóc khách hàng của
                            chúng tôi luôn sẵn sàng lắng nghe và hỗ trợ bạn mọi lúc. Chúng tôi cam kết đưa ra giải pháp
                            nhanh chóng và hiệu quả để đảm bảo bạn có trải nghiệm mua sắm tốt nhất.

                            <strong>3. Sự Cam Kết Đối Với Chất Lượng:</strong> Chất lượng là ưu tiên hàng đầu của chúng
                            tôi. Từ quy trình sản xuất đến giao hàng, chúng tôi luôn duy trì một tiêu chuẩn cao nhất để
                            đảm bảo sản phẩm hoàn hảo đến tay bạn.

                            <strong>4. Khách Hàng Là Trung Tâm:</strong> Chúng tôi tin rằng sự hài lòng của khách hàng
                            là kim chỉ nam của thành công. Mọi quyết định và nỗ lực của chúng tôi đều được hướng vào
                            việc mang lại trải nghiệm tốt nhất cho bạn.

                            Hãy để chúng tôi chia sẻ niềm đam mê và cam kết của mình với bạn. Khám phá thế giới của
                            chúng tôi và trải nghiệm sự khác biệt ngay hôm nay!
                        </p>

                        <div class="row my-5">
                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="/client/images/truck.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3> Vận chuyển nhanh &amp; miễn phí</h3>
                                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                        vulputate.</p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="/client/images/bag.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3>Dễ dàng mua sắm</h3>
                                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                        vulputate.</p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="/client/images/support.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3>Hỗ trợ 24/7</h3>
                                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                        vulputate.</p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="/client/images/return.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3>Hoàn trả miễn phí nếu có lỗi</h3>
                                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                        vulputate.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="img-wrap">
                            <img src="/client/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Why Choose Us Section -->

        <!-- Start Team Section -->
        <div class="untree_co-section">
            <div class="container">

                <div class="row mb-5">
                    <div class="col-lg-5 mx-auto text-center">
                        <h2 class="section-title">Đội ngũ phát triển</h2>
                    </div>
                </div>

                <div class="row">

                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                        <img src="/client/images/person_1.jpg" class="img-fluid mb-5">
                        <h3 clas><a href="#"><span class="">Phan </span> Hữu </a></h3>
                        <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                        <p>Tổng giám đốc kiêm chuyên viên cấp cao của cong ty và team.</p>
                        <p class="mb-0"><a href="#" class="more dark">xem thêm <span
                                    class="icon-arrow_forward"></span></a></p>
                    </div>
                    <!-- End Column 1 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                        <img src="/client/images/person_2.jpg" class="img-fluid mb-5">

                        <h3 clas><a href="#"><span class="">Hồ</span> Lan</a></h3>
                        <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                        <p>nhân viên hành chính nhân sự và phòng marketing</p>
                        <p class="mb-0"><a href="#" class="more dark">Xem thêm <span
                                    class="icon-arrow_forward"></span></a></p>

                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                        <img src="/client/images/person_3.jpg" class="img-fluid mb-5">
                        <h3 clas><a href="#"><span class="">Anh </span> Tho</a></h3>
                        <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                        <p>Giám đốc kinh doanh nội dung số và phát triển các nền tảng</p>
                        <p class="mb-0"><a href="#" class="more dark">Xem thêm <span
                                    class="icon-arrow_forward"></span></a></p>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                        <img src="/client/images/person_4.jpg" class="img-fluid mb-5">

                        <h3 clas><a href="#"><span class="">Ngoc</span> Anh</a></h3>
                        <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                        <p>Trưởng phòng nội dung số kiêm phó phòng công nghệ và nhân sự.</p>
                        <p class="mb-0"><a href="#" class="more dark">Xem thêm <span
                                    class="icon-arrow_forward"></span></a></p>


                    </div>
                    <!-- End Column 4 -->



                </div>
            </div>
        </div>
        <!-- End Team Section -->



        <!-- Start Testimonial Slider -->
        <!-- Start Testimonial Slider -->
        <div class="testimonial-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mx-auto text-center">
                        <h2 class="section-title">Đánh giá</h2>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="testimonial-slider-wrap text-center">

                            <div id="testimonial-nav">
                                <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                                <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                            </div>

                            <div class="testimonial-slider">

                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 mx-auto">

                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>&ldquo;Đầu tiên, tôi phải khen ngợi về chất lượng của sản phẩm.
                                                        Sofa được
                                                        làm từ vật liệu chất lượng cao, vô cùng êm ái và bền bỉ. Chúng
                                                        tôi
                                                        thường xuyên sử dụng sofa này trong gia đình, từ những buổi xem
                                                        phim đến
                                                        những cuộc họp nhỏ cùng bạn bè, và nó vẫn giữ nguyên vẻ đẹp và
                                                        thoải mái
                                                        từ khi mới mua..&rdquo;</p>
                                                </blockquote>

                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        <img src="/client/images/person-1.png" alt="Hữu Toại"
                                                            class="img-fluid">
                                                    </div>
                                                    <h3 class="font-weight-bold">Hữu Toại</h3>
                                                    <span class="position d-block mb-3">Khách hàng thân thiết.</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END item -->

                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 mx-auto">

                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>&ldquo;Dịch vụ khách hàng cũng đáng kể. Nhân viên hỗ trợ tận tình
                                                        và
                                                        nhiệt tình giải đáp mọi thắc mắc của tôi trước và sau khi mua
                                                        sản phẩm.
                                                        Điều này tạo ra một trải nghiệm mua sắm trọn vẹn và làm tăng giá
                                                        trị của
                                                        sản phẩm..&rdquo;</p>
                                                </blockquote>

                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        <img src="/client/images/person-1.png" alt="Maria Jones"
                                                            class="img-fluid">
                                                    </div>
                                                    <h3 class="font-weight-bold">Anh Thơ</h3>
                                                    <span class="position d-block mb-3">Khách hàng hay ghé thăm</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END item -->

                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 mx-auto">

                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>&ldquo;Thiết kế của sản phẩm cũng là một điểm mạnh lớn. Nó không
                                                        chỉ mang
                                                        lại cảm giác sang trọng và hiện đại cho phòng khách của tôi mà
                                                        còn tích
                                                        hợp tốt với phong cách trang trí nội thất hiện tại của gia đình.
                                                        Mỗi chi
                                                        tiết được chăm chút kỹ lưỡng, từ đường may tới cách bố trí màu
                                                        sắc, tạo
                                                        nên một không gian ấm cúng và lôi cuốn.&rdquo;</p>
                                                </blockquote>

                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        <img src="/client/images/person-1.png" alt="Maria Jones"
                                                            class="img-fluid">
                                                    </div>
                                                    <h3 class="font-weight-bold">Nguyễn Thanh</h3>
                                                    <span class="position d-block mb-3">Đại lý cấp 1 cung cấp</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END item -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Slider -->
        <!-- End Testimonial Slider -->
    </div>
</div>
<!-- End Hero Section -->