<div class="content-page">
    <div class="content">

        <!-- Start container-fluid -->
        <div class="container-fluid">

            <h1>đây là home admin</h1>
        </div>
    </div>
</div>