<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="content">

    <!-- Start container-fluid -->
    <div class="container-fluid">

      <!-- start  -->
      <div class="row">
        <div class="col-12">
          <div>
            <h4 class="header-title mb-3">Thêm mới Thương Hiệu</h4>
          </div>
        </div>
      </div>
      <!-- end row -->

      <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <form action="/admin/brand/store" method="POST" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label for="eexampleSelect3" class="col-md-2 col-form-label">Tên Thương hiệu</label>
              <div class="col-md-10">
                <input id="eexampleSelect3" type="text" class="form-control" placeholder="Nhập tên Thương hiệu"
                  name="name" />
                {{#if errors.length}}
                <ul>
                  {{#each errors}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
                {{/if}}
              </div>
            </div>
            <div class="form-group">
              <label for="eexampleSelect12">Ảnh Thương hiệu</label>
              <input name="image" type="file" value="{{formData.name}}" class="filestyle" id="eexampleSelect12 ">
            </div>
            <div class="form-group row">
              <label for="example-textarea">
                Mô tả Thương hiệu
              </label>
              <div>
                <textarea name="description" class="form-control" rows="5" id="example-textarea"></textarea>
              </div>
            </div>
            <div class=" col-lg-12 form-group row">
              <label for="exampleSelect1">Tình trạng</label>
              <select class="form-control" name="status" id="eexampleSelect1">
                <option value="1">Kích hoạt</option>
                <option value="0">Chưa Kích Hoạt</option>
              </select>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Thêm mới Thương hiệu</button>
            </div>
          </form>
        </div>

      </div>
      <!-- end row -->
    </div>
    <!-- end container-fluid -->
  </div>
  <!-- end content -->

</div>
<!-- END content-page -->